<div class="modal fade" id="ModalVideo">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header close-icon" data-dismiss="modal"></div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9"></div>
      </div>
    </div>
  </div>
</div>