<div class="nov-search__canvas pt-40 nov_item_act" data-act="search_canvas">
  <div class="container">
    <div class="header-search__parent pb-40">
      <div class="site-header__search"> 
        {% render 'nov-formsearch-inline' %}
      </div>
    </div>
  </div>
</div>