<div class="block_cart_canvas nov_item_act">
  <div id="desktop_cart">
    <div class="block_cart_top d-flex justify-content-between align-items-center">
      <div class="site-header__cart pointer d-flex justify-content-center align-items-center">
        <span class="cart__canvas--title font-800 text-uppercase">{{ 'layout.cart.title_cart' | t }}</span>
        <span class="cart__canvas_count d-flex align-items-center">
          <span id="CartCountCavas">{{ cart.item_count }}</span>
          <span>{{ 'layout.cart.items' | t }}</span>
        </span>
      </div>
      <div class="close_cart close-icon"></div>
    </div>
    <div id="cart-info"></div>
  </div>
</div>