<section id="Nov_purchasecode" data-email='' class="hide hidden">
  <div id="Nov_purchasecode-center">
    <h2 id="Nov_purchasecode-heading" class="text-uppercase mt-35 mb-5">Enter your purchase code</h2>
    <p id="Nov_purchasecode-text" class="mb-35">To Activate This Shopify Theme, Please use Envato Purchase Code</p>
    <div id="Nov_purchasecode-waring"></div>
    <div id="Nov_purchasecode-guide"><span>Please Go To Theme Settings > Purchase Code > Enter Your Purchase Code > Save</span></div>
    <div id="Nov_purchasecode-link" class="d-md-flex justify-content-center mt-45 mt-sm-30">
      <a href="https://documents.vinovathemes.com/emillia-documentation/installation/where-is-my-purchase-code" target="_blank">Where Is My Purchase Code?</a>
      <a href="https://documents.vinovathemes.com/emillia-documentation" target="_blank">Documentation</a>
      <a href="https://themeforest.net/licenses/standard" target="_blank">License Policy</a>
    </div>
  </div>
  <div id="Nov_purchasecode-bottom" class="text-center">
    <i class="zmdi zmdi-alert-circle"></i>
    <div>You can only use 1 license per domain</div>
  </div>
</section>